/*****************         PAGE LAYOUT STYLING         ****************/
body {
  padding-top: 5rem;
}

div#app {
  padding-top: 3rem;
}

/****************         SUDOKU BOARD STYLING         ****************/

/**** BREAKPOINT STYLING OF BOARD ****/

/* Extra small devices (all phones in portrait orientation, 
575px wide and under) */
table {
  border: 3.5px solid black;
}
td:nth-child(3n) {
  border-right-width: 3.5px;
}
tr:nth-child(3n) > td {
  border-bottom-width: 3.5px;
}
td {
  width: 32px;
  height: 32px;
  border-width: 1.5px;
}
input {
  font-size: 19px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  table {
      border: 3.5px solid black;
  }
  td:nth-child(3n) {
      border-right-width: 3.5px;
  }
  tr:nth-child(3n) > td {
      border-bottom-width: 3.5px;
  }
  td {
    width: 32px;
    height: 32px;
    border-width: 1.5px;
  }
  input {
    font-size: 19px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  table {
      border: 3.5px solid black;
  }
  td:nth-child(3n) {
      border-right-width: 3.5px;
  }
  tr:nth-child(3n) > td {
      border-bottom-width: 3.5px;
  }
  td {
    width: 32px;
    height: 32px;
    border-width: 1.5px;
  }
  input {
    font-size: 19px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  table {
    border: 3.5px solid black;
  }
  td:nth-child(3n) {
    border-right-width: 3.5px;
  }
  tr:nth-child(3n) > td {
    border-bottom-width: 3.5px;
  }
  td {
    width: 42px;
    height: 42px;
    border-width: 1.5px;
  }
  input {
    font-size: 25px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  table {
    border: 3.5px solid black;
  }
  td:nth-child(3n) {
    border-right-width: 3.5px;
  }
  tr:nth-child(3n) > td {
    border-bottom-width: 3.5px;
  }
  td {
    width: 42px;
    height: 42px;
    border-width: 1.5px;
  }
  input {
    font-size: 25px;
  }

/*   CROSSHAIR   */
/* A lighter color shade for the crosshair is given than 
for the currently hovered over cell. This crosshair shows up in 
devTools iPad Pro landscape mode. I've never been able to render the 
C.H. on any touch screen device better than badly, although 
CSS-Tricks claims to be able to do so. */
  
  table {
    overflow: hidden;
  }
  td {
    position: relative;
  }

  td:hover::before { 
    background-color: #9ab7d699;
    content: '\00a0';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -1;        
  }
  td:hover::after {
    background-color: #9ab7d699;;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;  
  }

  input {
    background-color: rgba(0,0,0,0);
  }
}

/**** GENERAL STYLING OF BOARD  ***/
table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
}

td {
  border-style: solid;
  padding: 0;
  color: black;
}

input {
  height: 100%; 
  width: 100%;
  /* relative of the td's content box height & width */

  text-align: center;
  padding: 0;
  border: 0;
  margin: 0;
}

input.locked_preset {
  color: blue;
}

input[conf='preset'] {
  color: orangered;
}

input[conf='user'] {
  color: red;
}

/* remove highlighting of input borders on blur */
input:focus {
  outline: none;
}
