body {
  /* Adding padding to the top of the main moves all elements below
  the navbar to below the navbar, even though the navbar is in body.
  Try deleting it and readding it for proof. */
  padding-top: 5rem;
}

nav h2 {
  color: white;
}

div#diff_sel_buttons button {
	background-color: cyan;
  margin-right: 1vw;
  margin-left: 1vw;
}

/* this just inside container div is copying the starter-template 
example, and styling here is the exact styling given in the non-bootstrap
source code starter-template.css */
#just_inside_container {
  text-align: center;
  padding: 3rem 1.5rem;
}

