body {
  /* Adding padding to the top of the main moves all elements below
  the navbar to below the navbar, even though the navbar is in body.
  Try deleting it and re-adding it for proof. */
  padding-top: 5rem;
}

/* From Bootstraps starter_template from the Examples page, minus the
right, left, padding */
div#container1 {
  text-align: center;
  padding-top: 3rem;
}

/* Here I format and color the welcome message and difficulty selection
bottons. The margin styling below should probably be done with Bootstrap
utilites in the future */
div#container1 h1 {
  margin-bottom: .4em;
}

span {
  font-size: 0.8em;
}

div#diff_sel_buttons button {
  background-color: cyan;
  margin-bottom: 1vh;
}

div#diff_sel_buttons button:nth-of-type(2) {
  margin-right: 2vw;
  margin-left: 2vw;
}



